


/* particleground demo */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.nb{
	font-size:30px;
	color: white;
    background: linear-gradient(to left, #33ccff 0%, #ff99cc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
html, body {
  width: 100%;
  height: auto;
  overflow: hidden;
}

body {
  background: #4c9ac7;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
   -webkit-font-smoothing: antialiased;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#intro {
  position: absolute;
  left: 0;
  top: 3%;
  padding: 5px 5px 0 5px;
  width: 100%;
  text-align: center;
 
}
#intro h1{
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  color:#fff;
  padding: 20px 30px 20px 30px;
  position:relative;
  top:45px;
  
  
 }

p {
  margin:0;
  font-size: 22px;
  font-weight:550;
  padding-top:5px;
  
  
 
  
 }
.nbcon
{
	display:inline;
	height:auto;
	border:1px solid #000;
	width:100%;
}

.container_m
{
	height:500px;
	width:57%;
	
	position:relative;
	background-image: linear-gradient(rgba(255,255,255,0.1) , rgba(255,255,255,0.4));
	bottom:500px;
	padding:40px;
	left:0;
	display:inline-block;

	animation: myanimation 10s infinite;
}
.container_s
{
	
	width:21%;
	display:inline-block;
	height:500px;
	position:relative;
	
	bottom:500px;
	
	background-image: linear-gradient(rgba(255,255,255,0.1) , rgba(255,255,255,0.75));
	 
	vertical-align:top;
}
@keyframes myanimation {
  0% {background-image: linear-gradient(to left ,rgba(255,255,255,0.1) , rgba(255,255,255,0.2));}
  25%{background-image:linear-gradient(to left,rgba(255,255,255,0.2) , rgba(255,255,255,0.3));}
  50%{background-image:linear-gradient(to left,rgba(255,255,255,0.3) , rgba(255,255,255,0.4));}
  75%{background-image:linear-gradient(to left,rgba(255,255,255,0.4) , rgba(255,255,255,0.5));}
  100% {background-image: linear-gradient(to left,rgba(255,255,255,0.5) , rgba(255,255,255,0.6));}
}
.container_s_1
{
	width:21%;
	display:inline-block;
	height:500px;
	position:relative;
	
	bottom:500px;
	background-image: linear-gradient(rgba(255,255,255,0.1) , rgba(255,255,255,0.7));
	vertical-align:top;
}

#slideshow img{
  position:absolute;
  height:100%;
  left: 0;
  padding:2% 8%;
  top:0;
  width: 100%;
  vertical-align:top;
}


.cal_table
{
	width:100%;
	background-color:#fff;
	background-color:rgba(255,255,255,0.1);
	
}
.hd
{
	
	
	text-align:center;
	width:100%;
	font-size:18px;
	font-family:inherit;
	font-weight:bold;
	padding:5px 8px;
	border: 1px solid #b8b5c4;
}
.cal_table th
{
	padding:6px 3.5px;
	border-radius:3px;
	color:#fff;
	text-align:center;
}
.cal_table td
{
	padding:6px 3.5px;
	border-radius:3px;
	border: 1px solid #b8b5c4;
	color:#03132b;
	text-align:center;
}
.cal_emp
{
	color:#54deb2;
}
td.cal_sun
{
	color:#ff0000;
	background-color:rgba(255,255,255,0.1);
}
td.imp
{
	color:#295863;
}
.imp_ev
{
	width:100%;
	
	
	padding:10px 0 ;
	font-size:16px;
	
}
.imp_ev p
{
	width:auto;
	background-color:rgba(66, 147, 168,0.3);
	padding: 10px;
	font-size:14px;
	margin-bottom:4px;
	text-align:justify;
}
	






























